/.gradle/
/.idea/
/.fleet/
/build/
/run/
/out/
/src/main/java/dev/seeight/api/bsky/**
/src/test/java/dev/seeight/api/bsky/**
/src/test/java/dev/seeight/twitterscraper/test/g/
/src/main/java/dev/seeight/xeno/tid/
